@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1469px){
	.big_img .pic_container .img_form .url-txt{ width:70%;}
	
	
	
	}
	

@media screen and (max-width:1366px){

.casebox .cd-main-content{
	width:96%;
}
	
}
@media screen and (max-width:1200px)
{
.api .honor .box{ height:auto;}
.menuBtn{ display:block;}	
.menuBtn2{ display:block;}
.index_header .top{ display:none;}	
.index_header .flexslider{ height:360px;}	
.index_header .flexslider .slides li{ height:360px;}	
.index_header .flex-control-nav{ right:5%;}	
.banner_con{ top:36%; display:table-cell;}
.banner_con h2{ font-size:30px;}
.banner_con h3{ font-size:15px;}	
.index_item ul{ width:100%; position:relative; margin:0; left:0; top:0; height:auto;}	
.index_item ul li b{ margin-top:60px;}	
.index_item{ padding-bottom:60px; height:auto;}
.index_title{ height:360px;}
.index_title h2{ width:100%; text-align:center; text-indent:0px; line-height:360px; padding-top:0px;}
.bottom_con {  margin:0 auto; width:94%;}
.bottom .bottom_con .bottom_left{ float:none;}
.bottom .bottom_con .bottom_left dl{ margin-right:20%;}
.bottom .bottom_con .bottom_middle{ margin-left:0px; float:none; margin-top:25px; margin-bottom:25px;}
.bottom .bottom_con .bottom_right{ float:none; text-align:left; padding-top:0px;}

.header .top{ width:100%; height:60px; line-height:60px;}
.header .top .nav{ display:none;}
.index_contact{ display:none;}
.header .top .logo{ padding-left:3%;}
.api .api_title{ width:100%; margin-bottom:10px;}
.case_con{width:94%; margin:0 auto;}	
.page2{ width:94%;}
.media_con{ width:100%;}

.case{ padding-bottom:20px;}
.matters_con{ width:100%;}
.matters_con .matters_bottom ul li{ width:40%; margin:0 5%; margin-bottom:5%; box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;}
.case_con .matt_box{ height:auto;}
.case_con .box{ overflow:visible; height:auto;}
.case_con .slimScrollBar{ display:none!important;}
.case_con .slimScrollRail{display:none!important;}
.anli_con{ width:100%;}
.anli_con .anli_left{ width:50%;}
.anli_con .anli_right{ width:40%; margin-left:10%;}
.anli_con .anli_right p{ height:120px; overflow:hidden;}

.api_con{ width:94%; margin:0 auto;}
.api .api_left{ width:100%; text-align:center;}
.api .api_left ul li{ float:left;}
.api .api_right{ width:100%; margin-top:30px;}
.api .api_right .box{ height:auto;}
.api .api_right .table-styled{ width:100%;}
.api{ padding:30px 0px;}

.product{ padding-top:20px; padding-bottom:20px;}
.product_con { width:94%; margin:0 auto; overflow:hidden;}
.product .product_con .box{ height:auto;}
.product .product_con .pro_top h2{ font-size:16px; padding-bottom:12px;}
.product .product_con .pro_top h3{ font-size:16px;}
.product .product_con .pro_top{ width:100%;}
.itemwarp .featured .text-center{ width:50%;}
.itemwarp .featured .content{ width:40%;}
.itemwarp .featured .casep ul li{ font-size:14px;}
.product .pro_bottom ul li .img_info h5{ padding-top:10px;}
.product .pro_bottom ul li .img_info h6{ padding-bottom:10px;}


.section .suolue .gallery-thumbs{ width:100%; margin-left:-50%;}

.api-form{ margin:30px auto;}
.matters_details h1{ font-size:18px;}
.api .api_left em{ display:inline-block;}
.nav-li-1 a.active{ background:none;}
.nav-li-2 {padding-left:0px;  }
.nav-li-3 {padding-left:0px;   }
.nav-li-1 a{ padding-left:0px;}

@media screen and (max-width:944px){
.big_img .pic_container .img_form .url-txt{ width:60%;}
	}
@media screen and (max-width:768px){

.casebox .cd-main-content .cd-gallery ul li{
	float:none;
	width:100%;
	margin-bottom:1em;
}
.casebox .cd-main-content .cd-gallery ul li img{ width:100%}
.small_img ul li{ width:20%;}
.big_img .pic_container{ width:100%;}
.big_img .pic_container .img_form .form a{ width:40px;}
.big_img .pic_container .img_form .url-txt{ width:60%;}
.big_img .pic_show{ width:100%; padding-bottom:20px;}

.data_box{ width:94%; margin:0 auto;}
#issues{ width:100%!important}
#issues li .historytitle{ width:100%; padding:0;}
#dates{ width:100%; margin:0; height:auto; display:none;}
#grad_left{ display:none;}
#grad_right{ display:none;}
#nexx{ display:none;}
#pree{ display:none;}
#dates li{ height:auto; width:50%; text-align:center}
#dates a{ height:auto; margin-right:0px!important; width:100%;}
#issues li{ width:100%;}

.api .honor{ width:100%;}
.flexslider{ border:none;}
.api .honor_img .img_list{ width:41%; margin:0 auto; margin-left:6%; margin-top:6%; box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;}
.video_box{ width:100%; left:0; margin-left:0px;}
}
@media screen and (max-width:640px){
.index_header .flexslider{ height:240px;}	
.index_header .flexslider .slides li{ height:240px; overflow:hidden;}	
.banner_con h2{ font-size:24px; padding-bottom:10px;}
.banner_con h3{ font-size:16px;}
.banner_con{ height:44px; top:50%; margin-top:-22px;}
.index_header .flex-control-nav li{ margin:10px 0px;}
.index_header .flex-control-paging li a{ width:5px; height:5px;}
.index_item{ padding-top:30px;}
.index_item ul li{ width:100%; margin-left:0px; float:none;}
.index_item ul li h4{ font-size:16px;}
.index_item ul li p{ width:60%; margin:0 auto}
.index_item ul li b{ width:90px; height:90px;}
.index_title{ height:240px;}
.index_title h2{ font-size:20px; line-height:240px;}
.casebox .title{ font-size:20px;}
.casebox .cd-main-content .cd-filters li{ font-size:16px;}

.bottom .bottom_con .bottom_left dl{ margin-right:8%;}
.copyright{ width:90%; height:auto; line-height:24px; padding:10px 5%;}

.api_banner{ height:240px;}
.api_banner h2{ padding-top:68px;}
.api_banner h3{ font-size:18px;}
.api_banner p{ font-size:14px; padding:0px 3%; padding-top:10px;}
.api{ padding-top:20px; padding-bottom:20px;}
.api .api_title a{ font-size:16px; margin-top:10px;}
.media_con h4{ font-size:16px; padding-bottom:15px;}
.media_con{ margin-bottom:20px; height:auto; padding-bottom:20px;}
.media_con h4 span{ padding-top:2px;}
.case_con .page2{ margin-top:20px!important;}

.matters_con .matters_top h4{ padding-bottom:20px;}
.matters_con .matters_top{ padding-bottom:20px;}
.matters_con .matters_bottom .matters_title{ line-height:100px;}
.matters_con .matters_bottom ul{ padding-bottom:0px; margin-bottom:20px;}
.matters_con .matters_bottom ul li h6{ font-size:18px;}

.anli_con{ margin-bottom:30px;}
.anli_con .anli_left{ width:100%; float:none; margin:0 auto; max-height:200px;}
.anli_con .anli_left img{ max-width:100%;}
.anli_con .anli_right{ width:100%; float:none; margin-left:0px; margin-top:15px; height:auto; padding-bottom:20px;}
.anli_con .anli_right h4{ padding-bottom:10px; font-size:16px;}
.anli_con .anli_right span{ bottom:0px;}
.anli_con .anli_right p{ height:auto; padding-bottom:20px;}

.api .api_left ul li{ width:50%;}
.api .api_right .table-styled td{ padding:5px;}

.pro_banner{ height:240px;}
.swei_con h2{ padding-top:55px;}
.swei_con h3{ font-size:18px;}
.swei_con p{ padding-top:5px;}
.product{ padding:10px 0px;}
.pro_banner .swiper-slide .con h5{ padding-top:14px; font-size:14px; padding-bottom:0px;}
.pro_banner .swiper-slide .con h6{ font-size:12px;}
.product .product_con .pro_top h2{ font-size:18px; padding-bottom:0px;}
.product .product_con .pro_top h3{ font-size:14px; padding-bottom:10px;}
.itemwarp .featured .text-center{ float:none; width:100%; height:200px;}
.itemwarp .featured .text-center img{ max-width:100%;}
.itemwarp .featured .content{ width:100%;}
.itemwarp .featured{ padding:10px 0px; padding-bottom:4px;}
.product .product_con .pro_top h2{ padding-top:6px; font-size:16px;}
.product .pro_bottom h4{ line-height:60px;}

.tel_title{ padding-top:55px; padding-bottom:20px;}
.small_img ul li{ width:20%;}
.big_img .pic_show .show_right{ padding-bottom:0px;}
#fp-nav.right{ display:none;}


.index_header .tel_con{ top:100px;}
.index_header .tel_con h2{ font-size:36px;}
.index_header .tel_con h3{ font-size:24px;}
.section .content{ top:80px; width: calc(100% - 6%); margin:0 auto; left:3%;}
.section .content h2{ font-size:36px;}
.section .content h3{ font-size:15px;}
.dot{ top:38%;}
.api .honor .flexslider{ padding-bottom:20px;}
/*7-29*/
.product .pro_bottom ul li{ width:100%;}
.product .pro_bottom ul .brown .triangle{ display:none;}
.api .api_left ul li a{}
.bottom .bottom_con .bottom_middle dl dd{ padding-top:10px;}
.map{ height:200px; overflow:hidden;}
.tel_title ul li{ margin:0px 3%;}
.section .suolue .gallery-thumbs{ height:28.5%;}
.section .suolue .gallery-thumbs .swiper-slide-active{ width:50%!important;}
.section .suolue .gallery-thumbs .swiper-slide-active .img_left{ width:100%; }
.section .suolue .gallery-thumbs .swiper-slide .info .img_right p{text-align:center;padding-top:58px;font-family: 'youyuan'; }
.section .suolue .gallery-thumbs .swiper-slide-active .info{ padding:0px;background:none; width:100%;}
.section .suolue .gallery-thumbs .swiper-slide-active .info .img_right{ display:none;}
.product .pro_bottom ul li .img{ width:100%;}

.api-form{ width:90%;padding:5%;}
.api-placeholder{ width:100%; padding:5px 0px; text-indent:10px;}
.api-h1-p3{ font-size:16px;}
.api-h1-p2{ font-size:16px;}
	}
@media screen and (max-width:365px){
	.big_img .pic_container .img_form .url-txt{ width:50%;}
	.dot{ top:50%;}
	.section .suolue .gallery-thumbs{ bottom:0;}
	}
